.logo {
  width: 4rem;
  height: 4rem;
  margin: 0;
}

.branding {
  width: 15rem;
  height: auto;
}

.logo path,
a > .logo:hover path {
  fill: var(--logo-fill-color);
}

.branding path {
  fill: var(--color-primary);
}
